.navbar{
  height: 10vh;
}

.brand-detail{
  margin-left: 3rem;
  margin-right: 4rem;

  display: flex;
  align-items: center;
}
.brand-name{
  color: #f6614c;
  font-weight: 600;
}

.nav-link{
  font-size: 1.1rem;
}

.nav-link:hover{
  color: #f6614c;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////  HERO SECTION */


.hero {
  background-color: #ffffff49;
  height: 90vh;
}

.hero-tagline{
  width: 30rem;
}

.hero-span{
  color: #f6614c;
}


.hero-image{
  position: relative;
}


.hero-buttons{
display: flex;
width: 28rem;
align-items: center;
justify-content: space-between;
}

.hero-link{
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  color: #f6614c;

}

.hero-link:hover{
 
  color: #f6614c;
  text-decoration: underline;
}

/* /// achievement /// */

.desc{
  font-size: 1.2rem;
  text-align: center;
}


.border-up{
  border-top: 2px #f6614c dashed;
}

/* /// heading /// */

.heading-1{
  font-size: 3.4rem;
  font-weight: 900;
  line-height: 4.2rem;
  
}


.heading-2{
  padding-top: 1rem;
  font-size: 2.7rem;
  text-align: center;
  color: #f6614c;
  font-weight: 900;
}

/* //// Heart /// */

.heart{
  position: absolute;
  top: 65%;
  left: 20%;
  background-color: white;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  width: 12rem;
  box-shadow: #00000075 0px 7px 29px 0px;

}
.heart-desc{ 
  padding-top: .5rem;
  height: 4rem;
  width: 7rem;

}
.heart-desc span{
  color: #f6614c;
}


/* /// spo2 /// */

.spo2{
  position: absolute;
  top: 20%;
  left: 60%;
  background-color: white;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  width: 12rem;
  box-shadow: #00000075 0px 7px 29px 0px;
}

.spo2-desc{
  padding-top: 1.3rem;
}

/* /// button /// */

.btn{
  padding: .7rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  width: 10rem;
  height: 4rem;
  color: white;
  background-color:#f6614c;
  box-shadow: #f6604cec 0px 7px 29px 0px;
}

.btn:hover{
  background-color:#f85742;
  color: aliceblue;
}



/* ////////////////////////////////////////////////////////////////////////
////////////////////////  PLAY BUTTON */
.play-button{
 
display: flex;
justify-content: space-around;
align-items: center;
  width: 15rem;  
}

.play-button p{
  padding-top: 1rem;
  font-size: 1.2rem;
}

.circle{
  position: relative;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #eee;
  box-shadow: 0px 0px 1em #f6614c;
  transition: all 0.3s linear;
  text-align: center;
  cursor: pointer;
}

.circle:hover{
  box-shadow: 0px 0px 3em #f6614c;


}

.circle span{
  color:#f6614c ;
  font-size: 50px;
}
 

.play {
  position: absolute;
  z-index: 10;
  left: 34%;
  transform: translateY(-50%);
  top: 50%;
  width: 2rem;
  height: 2.2rem;
  background-color: #f6614c;
  clip-path: polygon(100% 51%, 0 0, 0 100%);
}

