.navbar{
  background-color: #efefef;
  height: 10vh;
  z-index: 1000;
}
.navbar-nav{
  z-index: 1000;

}
.brand-detail{
  margin-left: 3rem;
  margin-right: 4rem;

  display: flex;
  align-items: center;
}
.brand-name{
  color: #f6614c;
  font-weight: 600;
}

.nav-link{
  font-size: 1.1rem;
}

.nav-link:hover{
  color: #f6614c;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////  HERO SECTION */


.hero {
  background-color: rgba(245, 245, 247, 0.761);
  
   /* background-color: #abb8c3; */
   
  height: 100vh;
}

.hero-tagline{
  width: 30rem;
}

.hero-span{
  color: #f6614c;
}


.hero-image{
  z-index: 100000;
  position: relative;
}


.hero-buttons{
display: flex;
width: 28rem;
align-items: center;
justify-content: space-between;
}

.hero-link{
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  color: #f6614c;

}

.hero-link:hover{
 
  color: #f6614c;
  text-decoration: underline;
}

/* /// achievement /// */

.desc{
  font-size: 1.2rem;
  text-align: center;
}


.border-up{
  border-top: 2px #f6614c dashed;
}

/* /// heading /// */

.heading-1{

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 4.2rem;
  text-transform: capitalize;
  
  
}


.heading-2{
  padding-top: 1rem;
  font-size: 2.7rem;
  text-align: center;
  color: #f6614c;
  font-weight: 900;
}

/* //// Heart /// */

.heart{
  position: absolute;
  top: 65%;
  left: 20%;
  background-color: white;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  width: 12rem;
  box-shadow: #00000075 0px 7px 29px 0px;

}
.heart-desc{ 
  padding-top: .5rem;
  height: 4rem;
  width: 7rem;

}
.heart-desc span{
  color: #f6614c;
}


/* /// spo2 /// */

.spo2{
  position: absolute;
  top: 20%;
  left: 60%;
  background-color: white;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  width: 12rem;
  box-shadow: #00000075 0px 7px 29px 0px;
}

.spo2-desc{
  padding-top: 1.3rem;
}

/* /// button /// */

.btn{
  padding: .7rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  width: 9rem;
  height: 4rem;
  color: white;
  background-color:#f6614c;
  box-shadow: #f6604cec 0px 7px 29px 0px;
}

.btn:hover{
  background-color:#f85742;
  color: aliceblue;
}



/* ////////////////////////////////////////////////////////////////////////
////////////////////////  PLAY BUTTON */
.play-button{
 
display: flex;
justify-content: space-around;
align-items: center;
  width: 15rem;  
}

.play-button p{
  padding-top: 1rem;
  font-size: 1.2rem;
}

.circle{
  position: relative;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: #eee;
  box-shadow: 0px 0px 1em #f6614c;
  transition: all 0.3s linear;
  text-align: center;
  cursor: pointer;
}

.circle:hover{
  box-shadow: 0px 0px 3em #f6614c;


}

.circle span{
  color:#f6614c ;
  font-size: 50px;
}
 

.play {
  position: absolute;
  z-index: 10;
  left: 34%;
  transform: translateY(-50%);
  top: 50%;
  width: 1.8rem;
  height: 2rem;
  background-color: #f6614c;
  clip-path: polygon(100% 51%, 0 0, 0 100%);
}

/*///////////////////////////////////////////////////
//////////////// GOAL */

.goal{
  margin-top: 2rem;
  height: 35vh;
  /* overflow: scroll; */
}

.goal-line{
  width: 3rem;
  height: .2rem;
  background-color: #f6614c;
  margin-right:.5rem ;
  margin-bottom: .3rem;
}


.heading-3{
  font-size: 1.6rem;
  font-weight: 700;
}

.goal-card{
  margin-top: 2rem;
  padding-inline: .4rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.3rem;
  width: 18rem;
  height: 7rem;
  box-shadow: #00000075 0px 7px 29px 0px;
}

.goal-card__text{
  text-transform: capitalize;
  font-weight: 600;
}

.goal-card__text span{
  color: #f6614c;
}


/* ////////////////////////////////////////////////////////////
////////// Search Exercises */

.services{
  margin-top: 1rem;
  width: 100%;
  height: 100vh;
  background-size:cover;
  background-attachment: fixed;
  background-image: url(./Asset/bg-6.jpg);
  /* filter: brightness(50%); */
}

.services img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .services ::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.288);
  width: 100%;
  height: 100%;

} */

.searchExercise{
  /* border: 2px solid blueviolet; */
  color: #fff;
  text-align: center;
  margin-top: 4rem;
  padding-top: 60px;

}

.searchExercise input{
  margin-top: 2rem;
  width: 48rem;
  height: 3rem;
  outline: none;
  border: 1px solid rgb(195, 193, 193);
  font-size: 1.1rem;
  background-color: #eeecec;
  padding-inline: 1rem;
  border-radius: 5px;
}

.btn-search{
  margin-left: .3rem;
  width: 9rem;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0.4rem;
  outline: none;
  border: none;
  background-color: #ff2625;
  color: white;
  border-radius: 5px;
  transition: all 0.3s linear;
  /* box-shadow: rgba(100, 100, 111, 0.635) 0px 7px 29px 0px; */
}

.btn-search:hover{
  background-color: white;
  color: #ff2625;
  border: 1px solid #ff2625;
  box-shadow: rgba(100, 100, 111, 0.635) 0px 7px 29px 0px;

}

.btn-search:active{
  background-color: #ff2625;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.477) 1.95px 1.95px 2.6px;

}


/* //////////////////////////////////////////////////////////////////////
///////////////////////////////////////// Horixaotaf */

.scroll{
  /* background-color: rgba(0, 0, 0, 0.751); */
  padding: 1rem;
  margin-top: 4rem;
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  height: 28rem;
    /* border: 2px solid rgb(43, 226, 98); */
  overflow-y: hidden;
}

::-webkit-scrollbar{
  width: 0rem;
}

.excard{
  margin-left: 2rem;
  /* border: 2px solid rgb(43, 226, 98); */
  text-align: center;
  width: 20rem;
  height: 22rem;
  background-color:#ffffff42;
  border-radius: 7px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.2s linear;
  color: white;

}

.excard:hover{
  cursor: pointer;
  transform: scale(1.04);
}


.excard h2{
  color: rgba(0, 0, 0, 0.25);
  margin-top: -.5rem;
  margin-right: -11rem;
  font-size: 7em;
  pointer-events: none;
}

.excard h3{
  font-size: 2.8rem;
  margin-top: 2rem;
  color: #000000c4;
  font-weight: 700;
  text-transform: capitalize;
}


/*//////////////////////////////////////// TRAINER  */

.trainer{
  margin-top: 1rem;
  position: relative;
  height: 80vh;
  width: 100%;
  background-color: #f6614c;
}

.trainer-bg{
  object-position: center;
  /* transform: scale(0.5); */
  height: 100%;
  filter: brightness(50%);
  width: 100%;
}

.trainer-text{
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 54%;
  width: max-content;
  transform:translateX(-50%);
  /* border: 2px solid red; */

  display: flex;
  align-items: center;
}

.trainer-text span{
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 9rem;
}

.trainer-text img{
  height:11rem;
  width: 11rem;
}


.trailer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  display: flex;
  justify-content: center ;
  align-items: center;
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
}

.trailer video{
  max-width: 70rem;
  /* height: 900px; */
  outline: none;
}

.trailer img{
  position: absolute;
  top: 4%;
  left: 94%;
  cursor: pointer;
  max-width: 50px;
  transition: all 0.5s;
}

.trailer img:hover{
  transform: rotate(50deg);
}

.active{
  visibility: visible;
  opacity: 1;
}