*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #131619;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Poppins-font {font-family: 'Poppins', sans-serif;}

.Roboto-font{font-family: 'Roboto', sans-serif;}

.Alkatra-font{font-family: 'Alkatra', cursive;}
